# Node modules
node_modules/

# Build output
build/
dist/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating system files
.DS_Store
Thumbs.db

# IDE/Editor folders
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Test coverage
coverage/

# Miscellaneous
*.tgz
*.lock
*.tmp

# Yarn
yarn-error.log
.yarn-integrity
